<%= simple_form_for @invite do |form| %>
  <%= form.input :email %>
  <div class="invite-list">
    <%= form.collection_check_boxes :person_ids, Person.all, :id, :name, {}, { multiple: true } %>
  </div>
  <%= form.submit 'Send invite' %>
<% end %>
