<header class="title">
  <h1><strong>Elizabeth</strong> and <strong>Edward</strong> Get Married</h1>
  <h5>2014 Edition</h5>
</header>
<section class="pictures">
  <div class="picture first"></div>
  <a class="venue" href="https://www.google.com/maps/place/The+College+Club+of+Boston/@42.352731,-71.073326,17z/data=!3m1!4b1!4m2!3m1!1s0x89e37a752ba41dcd:0xffea19bbce0ca30c">
    <div class="address">
      <h3>October 4th, 3pm</h3>
      <h3>The College Club of Boston</h3>
      <h3>44 Commonwealth Ave</h3>
      <h3>Boston, MA 02116</h3>
    </div>
  </a>
  <div class="picture second"></div>
</section>
