<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render 'shared/info' %>

    <p>Please RSVP with your <%= link_to 'menu choice', edit_rsvp_url(@invite.token) %>.</p>
  </body>
</html>
