body.invites {
  a.new-invite {
    @extend %new-button;
  }

  tr.invite {
    th {
      padding: $base-line-height 0 0;
    }
  }

  tr.absent {
    td.meal, td.friday {
      color: transparent;
    }

    td.name {
      color: $medium-gray;
    }
  }
}

div.invite_people {
  @include columns(3);

  margin-bottom: $base-line-height;
}
