$absent-background-color: rgba(230, 230, 230, 1);

@mixin person {
  border: 1px solid $base-border-color;
  border-radius: .2em;
  padding: $base-line-height / 2 $base-line-height;
}

section.people {
  h1 {
    margin: $base-line-height;
  }
}

div.person {
  @include span-columns(4);

  margin-bottom: 1em;

  &.absent {
    a {
      @include person;
      @include transition(background-color 0.2s ease);

      background-color: $absent-background-color;
      color: $medium-gray;
      display: block;
      text-align: center;

      &:hover {
        background-color: $white;
      }
    }
  }

  &.attending {
    @include person;
    background-color: $white;
  }

  &:nth-of-type(3n) {
    margin-right: 0;
  }

  header {
    font-weight: 700;
    margin-bottom: 1em;
  }

  a.choice {
    @include transition(color .2s ease, background-color .2s ease, background-position-y .3s $ease-out-quad);

    background: $absent-background-color asset-url('selected.png') no-repeat 6px 40px;
    border-radius: .2em;
    color: $medium-gray;
    margin-bottom: golden-ratio($base-line-height, -1);
    position: relative;
    text-align: center;

    &.selected,
    &:hover {
      background-color: $teal;
      color: $white;
    }

    &:hover {
      p.explain {
        bottom: 1.5em;
        opacity: 1;
      }
    }

    &.selected {
      background-position-y: center;
    }

    p.explain {
      @include position(absolute, 0 0 2em 0);
      @include transition(opacity .3s ease, bottom .3s ease);

      background-color: $dark-gray;
      border-radius: .2em;
      font-size: .8em;
      opacity: 0;
      padding: $base-line-height / 2;
      pointer-events: none;
      width: 100%;
    }
  }

  div.choices.meals {
    @include clearfix;

    border-bottom: 1px solid $light-gray;
    margin-bottom: 1em;

    a.meal {
      @include span-columns(4 of 4);

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  a.choice.friday {
    @include span-columns(4 of 4);

    clear: both;
    position: relative;
  }

  a.choice.attendance {
    background-color: transparent;
    color: $medium-gray;
    margin-bottom: 0;

    &:hover {
      color: $base-font-color;
    }
  }
}

h1 {
  clear: both;
}
